@page "/addproduct"
@using Cosmos.Shared.Models
@inject HttpClient Http
@inject IWebApi WebApi
@inject Cosmos.WebApi.ProductService ProductService
@rendermode InteractiveServer

<h3>Add Product</h3>

<EditForm FormName="AddProductForm" Model="@_product" OnValidSubmit="SaveProduct">
	<InputText @bind-Value=@_product.Name />
	<InputText @bind-Value=@_product.Description />

	<button type="submit">Add</button>
</EditForm>


@code {
	private Product _product { get; set; } = new();

	private async void SaveProduct()
	{
		var newProduct = new Product();

		newProduct.Name = _product.Name;
		newProduct.Description = _product.Description;
		newProduct.CreatedAt = DateTime.Now;
		newProduct.UpdatedAt = DateTime.Now;
		newProduct.ProductId = 0;
		try{
			// await WebApi.AddProduto(newProduto);

			var stringJson = new StringContent(
				System.Text.Json.JsonSerializer.Serialize(newProduct),
				System.Text.Encoding.UTF8,
				"application/json"
			);

			HttpClientHandler handler = new HttpClientHandler();

			using (var client = new HttpClient(handler, false))
		{
				var response = await Http.PostAsync("https://localhost:/addproducts", stringJson);

			}

		}
		catch (Exception e){
			Console.WriteLine(e);
			throw;
		}
	}

}
