@page "/addproduct"
@using Cosmos.WebApi.Models
@inject HttpClient Http

@rendermode InteractiveServer

@inject IWebApi WebApi

<EditForm FormName="AddProductForm" Model="@productModel" OnValidSubmit="SaveProduct">
	<InputText @bind-Value=@productModel.Name />
	<InputText @bind-Value=@productModel.Description />

	<button type="submit">Add</button>
</EditForm>

<h3>AddProduct</h3>

@code {
	private ProductModel productModel { get; set; } = new();

	private async void SaveProduct()
	{
		// var newProduto = new Cosmos.WebApi.Models.ProdutoModel();
		// newProduto.Nome = produtoModel.Nome;
		// await WebApi.AddProduto(newProduto);

		var newProduct = new ProductModel();

		newProduct.Nome = productModel.Nome;
		newProduct.Descricao = productModel.Descricao;
		newProduct.CreatedAt = DateTime.Now;
		newProduct.UpdatedAt = DateTime.Now;
		newProduct.Id = 0;
		try{
			// await WebApi.AddProduto(newProduto);

			var stringJson = new StringContent(
				System.Text.Json.JsonSerializer.Serialize(newProduct),
				System.Text.Encoding.UTF8,
				"application/json"
			);

			HttpClientHandler handler = new HttpClientHandler();

			using (var client = new HttpClient(handler, false))
		{
				var response = await Http.PostAsync("https://localhost:/addproducts", stringJson);

			}

		}
		catch (Exception e){
			Console.WriteLine(e);
			throw;
		}
	}

}
